*{
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

h1{
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2{
    font-size: 24px;
    color: #606060;
    font-weight: 800
}

p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul{
    font-family: monospace;
    font-size: 18px;
    margin-left: 100px;
    padding: 20px;
    border: solid 2px blue;
    height: 40%;
    list-style-type: none;
}

a{
    font-weight: bold;
}

li a{
    color: orange;
}

#colorVerde{
    color: green;
}

ul li{
    padding: 10px;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}